.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b6becd;
    cursor: pointer;
    user-select: none;
}
.btn-background{
    border-radius: 20px;
}
.btn-background:hover{
    background-color: #838D9F;
}
.btn-background:active, .btn-background.pressed{
    background-color: #b6becd;
}
/* https://stackoverflow.com/questions/24224112/css-filter-make-color-image-with-transparency-white */
.btn-hover:hover, .btn-hover.pressed{
    filter: brightness(0) invert(1);
}
.config-btns, #graph-download-ctn{
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
}
#graph-download-ctn{
    position: absolute;
    display: flex;
    justify-content: right;
    width: inherit;
}
#graph-download-btn{
    margin-right: 15px;
}
/* https://codepen.io/sosuke/pen/Pjoqqp */
#graph-download-btn:hover{
    filter: invert(85%) sepia(20%) saturate(165%) hue-rotate(181deg) brightness(87%) contrast(91%);
}
#graph-download-btn:active{
    filter: brightness(0) invert(1);
}
#adjc-img-dnld-ctn{
    position: absolute;
    display: flex;
    justify-content: left;
    left: auto;
    width: 26px;
    height: 26px;
}
#adjc-img-dnld-btn{
    width: inherit;
    height: inherit;
    margin-left: 2px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
#adjc-img-dnld-btn:hover{
    filter: invert(86%) sepia(22%) saturate(150%) hue-rotate(181deg) brightness(85%) contrast(91%);
}
#adjc-img-dnld-btn:active{
    filter: brightness(0) invert(1);
}